<template>
  <div id="app">

    <!-- Banner -->
    <Header id="header" />

    <!-- Main Content -->
    <Content/>
  </div>
</template>

<script>
import Header from '@/components/HeaderBanner'
import Content from '@/views/Content.vue'
export default {
  components: { Header, Content }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#app {
  margin: 0 auto;
  width: 65%;
}

#header {
  margin-bottom: 60px;
}

</style>
