<template>
  <div class="menu-container">
    <div class="menu-title">
      <h1>{{contentTitle}}</h1>

      <button v-if="contentTitle !== 'Product'" @click="goBack" class="btn btn-outline-dark">back</button>
    </div>

    <!-- Menu itme -->
    <div class="item-container">
      <div v-if="!detailToShow">
        <MenuItem
          v-for="(item, index) in ListMenu"
          :key="index"
          :item="item"
          @detailName="getDetailName"
        />
      </div>

      <!-- Load page for selected menu -->
      <div v-else>
        <div v-if="detailToShow === 'invoice_osf'">
          <LoanPage class="main-content"/>
        </div>
        <div v-if="detailToShow === 'sbn'">
          <Sbn class="main-content"/>
        </div>
        <div v-if="detailToShow === 'reksadana'">
          <Reksadana class="main-content"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ListMenu from '@/assets/Ingredients/json/main.json'

import MenuItem from '@/components/MenuItem'
import LoanPage from '@/components/LoanPage'
import Sbn from '@/components/Sbn'
import Reksadana from '@/components/Reksadana'

export default {
  components: { MenuItem, LoanPage, Sbn, Reksadana },
  data: function () {
    return {
      contentTitle: 'Product',
      ListMenu: ListMenu.contents,
      detailToShow: null,
      filter: []
    }
  },
  methods: {
    getDetailName (value) {
      if (value === 'Reksadana') {
        console.log(value)
        this.detailToShow = 'reksadana'
        this.contentTitle = 'Reksadana'
      } else if (value === 'SBN') {
        this.detailToShow = 'sbn'
        this.contentTitle = 'SBN'
      } else {
        this.detailToShow = 'invoice_osf'
        this.contentTitle = 'Loan Page'
      }
    },
    goBack () {
      this.contentTitle = 'Product'
      this.detailToShow = null
    }
  }
}
</script>

<style scoped>
  .menu-container {
    margin-bottom: 40px;
  }

.menu-title {
  display: flex;
  justify-content: space-between;
}

.menu-title h1 {
  font-size: 2rem;
  font-weight: 70;
}

.item-container {
  width: 100%;
  margin-top: 30px;
}

.main-content {
  width: 100%;
  height: 50vh;
  -webkit-box-shadow: -1px 3px 11px 3px rgba(196, 196, 196, 1);
  -moz-box-shadow: -1px 3px 11px 3px rgba(196, 196, 196, 1);
  box-shadow: -1px 3px 11px 3px rgba(196, 196, 196, 1);
}
</style>
