<template>
  <div class="dropdown">
    <button
      class="btn btn-outline-dark dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >{{filterSelected}}</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" @click="filter()">All Grades</button>
      <div v-for="(term, index) in filterTerm" :key="index">
        <button class="dropdown-item" @click="filter(term)">{{term}}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['filterTerm', 'filterSelected'],
  methods: {
    filter (value) {
      this.$emit('filter', value)
    }
  }
}
</script>

<style>
</style>
