<template>
  <div class="header-banner">
    <img src="@/assets/banner.png" alt="Header-Banner" />
  </div>
</template>

<style scoped>
.header-banner img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  -webkit-box-shadow: -1px 3px 11px 3px rgba(196, 196, 196, 1);
  -moz-box-shadow: -1px 3px 11px 3px rgba(196, 196, 196, 1);
  box-shadow: -1px 3px 11px 3px rgba(196, 196, 196, 1);
}
</style>
