<template>
  <div class="detail-container">

    <!-- Set for main menu -->
    <div class="card-item" @click="menuEvents(item.type, item.name)">
      <i class="far fa-file-alt"></i>
      <div class="card-content">
        <div class="title-count">
          <h1>{{item.name}}</h1>
          <p>{{item.count}}</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus asperiores quia quam mollitia ab fugit illo modi repellat facere vel?</p>
      </div>
    </div>

    <!-- Set for sub menu -->
    <transition name="fade">
    <div v-if="showSubmenu" class="subMenu-container">
      <div class="card-item subMenu" v-for="(sub, index) in item.type" :key="index" @click="menuEvents(null, sub.name)">
        <i class="far fa-file-alt" style="margin-right: 20px;"></i>
      <div class="card-content">
        <div class="title-count">
          <h1>{{sub.name}}</h1>
          <p>{{sub.count}}</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quisquam ab debitis earum error.</p>
      </div>
      </div>
    </div>
    </transition>

  </div>
</template>

<script>
export default {
  props: ['item'],
  data: function () {
    return {
      showSubmenu: false
    }
  },
  methods: {
    menuEvents (type, name) {
      if (type) {
        if (this.showSubmenu) {
          this.showSubmenu = false
        } else {
          this.showSubmenu = true
        }
      } else {
        this.$emit('detailName', name)
      }
    }
  }
}
</script>

<style scoped>
.detail-container {
  margin-bottom: 40px;
}
.card-item {
  height: 17vh;
  width: 100%;
  padding: 20px;
  -webkit-box-shadow: -1px 3px 11px 3px rgba(196, 196, 196, 1);
  -moz-box-shadow: -1px 3px 11px 3px rgba(196, 196, 196, 1);
  box-shadow: -1px 3px 11px 3px rgba(196, 196, 196, 1);
  display: flex;
  align-content: center;
  transition: 0.3s;
}

.card-item:hover {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(58, 180, 71, 1) 0%,
    rgba(240, 252, 69, 1) 99%,
    rgba(253, 226, 29, 1) 100%
  );
  cursor: pointer;
}

.card-item i {
  width: 10%;
  height: 100%;
  font-size: 5rem;
  padding-top: 10px;
  text-align: center;
  color: #67d12b;
}
.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-content h1 {
  font-size: 18px;
  font-weight: 70;
  color: #67d12b;
}

.title-count {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.subMenu-container {
  display: flex;
  margin-top: 20px;
}
.subMenu:first-child {
  margin-right: 15px;
}
</style>
