<template>
  <div class="page-container">
    <div class="search-filter">
      <Search @search="search" class="search" />
      <FilterDropdown :filterTerm="filterTerm" :filterSelected="filterSelected" @filter="filter" />
    </div>

    <div class="table-content">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Pinjaman</th>
            <th scope="col">Return</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(data, index) in searchResult()" :key="index">
            <th scope="row">{{data.name}}</th>
            <td scope="row">{{convertToIDR(data.amount)}}</td>
            <td>{{data.return}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Reksadana from '@/assets/Ingredients/json/reksadana/reksadana.json'

import Search from '@/components/Search'
import FilterDropdown from '@/components/FilterDropdown'

export default {
  components: { Search, FilterDropdown },
  data: function () {
    return {
      allData: [],
      filterSelected: 'All',
      searchText: '',
      rupiah: '',
      filterTerm: ['Minus', 'Positive']
    }
  },
  methods: {
    search (value) {
      this.searchText = value
    },
    searchResult () {
      let regex = new RegExp(`^${this.searchText}`)
      let result = this.allData.filter(data => {
        return regex.test(data.name.toLowerCase())
      })
      return result
    },
    populateData () {
      this.allData = [...Reksadana.contents]
    },
    filter (term) {
      this.filterSelected = term || 'All'
      this.populateData()
      term === 'Minus'
        ? (this.allData = this.allData.filter(data => data.return < 0))
        : (this.allData = this.allData.filter(data => data.return > 0))
    },
    convertToIDR (value) {
      let rupiah = ''
      const angkarev = Number(value)
        .toString()
        .split('')
        .reverse()
        .join('')

      for (var i = 0; i < angkarev.length; i++) {
        if (i % 3 === 0) rupiah += angkarev.substr(i, 3) + '.'
      }

      return (
        'IDR ' +
        rupiah
          .split('', rupiah.length - 1)
          .reverse()
          .join('')
      )
    }
  },
  created () {
    this.populateData()
  }
}
</script>

<style>
.page-container {
  width: 100%;
  height: 60vh;
}

.table-content {
  height: 45vh;
  width: 100%;
  overflow: auto;
}

.search-filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.search {
  height: 100%;
}

button:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}
</style>
