<template>
    <div>
        <i class="fas fa-search" style="margin-right: 20px;"></i><input  style="margin-left:5px;" class="searchbar" type="text" v-model="search" placeholder="search name...">
    </div>
</template>

<script>
export default {
  data: function () {
    return {
      search: ''
    }
  },
  watch: {
    search: function () {
      this.$emit('search', this.search.toLowerCase())
    }
  }
}
</script>

<style scoped>
    input {
        border: 0px;
        height: 100%;
        width: 70%;
        outline: none;
        background-color: transparent;
        font-size: 0.8rem;
        padding-left: 8px;
    }

    div {
        border: 2px solid #67d12b;
        /* border-radius: 20px; */
        height: 40px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    div:focus-within{
        box-shadow: 0px 0px 5px #67d12b;
        transition-duration: 0.2s;
    }
</style>
